
body {background-color: rgb(240, 212, 202);}
img{
margin-left:200;
margin:;
}

font-family:Georgia, 'Times New Roman', Times, serif;}
font-family:georgia;}
body{text-align-last: center;}

#caixa{
    padding-left:500px;
    border:1px rgb(240, 108, 93);
}

#titulo{
border:2px color red solid;
padding-left:100px;

background-color: rgb(240, 108, 93);}
#ultimo{
    background-color: salmon;
    padding-left:100px;
}
#em{
    padding-left:300px;
}

#ALT{
padding-left:50PX;
}